# chezmoi laptop-specific configuration
# https://www.chezmoi.io/user-guide/manage-machine-to-machine-differences/#use-completely-different-dotfiles-on-different-machines
{{ if eq .chezmoi.hostname "s-lt" -}}

monitor = eDP-1,preferred,auto,1.0,bitdepth,10

# chezmoi desktop-specific configuration
{{ else if eq .chezmoi.hostname "s-dt" -}}

{{ end -}}