
# https://www.chezmoi.io/user-guide/manage-machine-to-machine-differences/#use-completely-different-dotfiles-on-different-machines
{{ if eq .chezmoi.hostname "s-lt" -}}

# laptop configuration

# ╻  ┏━┓╻ ╻┏┓╻┏━╸╻ ╻
# ┃  ┣━┫┃ ┃┃┗┫┃  ┣━┫
# ┗━╸╹ ╹┗━┛╹ ╹┗━╸╹ ╹

exec-once = swayidle -w timeout 600 'swaylock' timeout 900 'hyprctl dispatch dpms off' resume 'hyprctl dispatch dpms on' # lock after 10 mins, sleep after 15 mins // install swayidle
exec-once = swayidle -w timeout 1200 'swaylock; hyprctl dispatch dpms off' resume 'hyprctl dispatch dpms on' timeout 1800 'systemctl suspend' # lock and sleep after 20 mins, suspend after 30 mins // install swayidle
exec-once = libinput-gestures // install libinput-gestures
exec-once = swayosd-server # enable swayosd service
exec-once = `pkexec swayosd-libinput-backend` # swayosd service for keyboard input (requires to be run in a subshell)  

input {
	kb_layout = dk
    kb_options = altwin:swap_lalt_lwin, #caps:swapescape, 
}

device {
    name = asustek-rog-giii-wireless-aimpoint
    accel_profile =  adaptive # flat --> https://wayland.freedesktop.org/libinput/doc/latest/pointer-acceleration.html#pointer-acceleration
    sensitivity = -0.0 # -1.0 - 1.0 
}

decoration {
    blur {
        # https://wiki.hyprland.org/Configuring/Variables/#blur
        enabled = yes
        size = 6
        passes = 2 # default 3 -> Increasing blur:passes is necessary to prevent blur looking wrong on higher blur:size values, but remember that higher blur:passes will require more strain on the GPU.
        special = no
        # ignore_opacity = off
    }
}

dwindle {
    special_scale_factor = 0.95
}

misc {
    vrr = 2
}

render {
    direct_scanout = no
}

# Cursor
cursor {
    no_break_fs_vrr = yes
    min_refresh_rate = 60
    no_warps = yes
}

experimental {
    hdr = yes
    wide_color_gamut = yes
}

{{ else if eq .chezmoi.hostname "s-dt" -}}
# desktop configuration

# ╻  ┏━┓╻ ╻┏┓╻┏━╸╻ ╻
# ┃  ┣━┫┃ ┃┃┗┫┃  ┣━┫
# ┗━╸╹ ╹┗━┛╹ ╹┗━╸╹ ╹

# https://wiki.archlinux.org/title/Hyprland#Turning_off_the_screen_using_DPMS_after_a_timeout_period
exec-once = ~/.config/hypr/scripts/sleep.sh

# ┏━╸┏┓╻╻ ╻
# ┣╸ ┃┗┫┃┏┛
# ┗━╸╹ ╹┗┛

env = __GL_GSYNC_ALLOWED,1

envd = HYPRCURSOR_SIZE,20
envd = XCURSOR_SIZE,20
envd = QT_CURSOR_SIZE,20


# ╻┏┓╻┏━┓╻ ╻╺┳╸
# ┃┃┗┫┣━┛┃ ┃ ┃
# ╹╹ ╹╹  ┗━┛ ╹
# https://wiki.hyprland.org/Configuring/Variables/#input

# using

device {
    name = asustek-rog-giii-wireless-aimpoint
    accel_profile =  adaptive # flat --> https://wayland.freedesktop.org/libinput/doc/latest/pointer-acceleration.html#pointer-acceleration
    sensitivity = -0.0 # -1.0 - 1.0 
}

device {
    name = razer-razer-deathadder-v3-pro
    accel_profile =  adaptive  
    sensitivity = -0.0 # -1.0 - 1.0 
}

device {
    name = pulsar-xlite-v3-1
    accel_profile =  flat 
    sensitivity = -0.5 # -1.0 - 1.0 
}

device {
    name = asustek-rog-strix-scope-ii-96-wireless
    kb_layout = dk
    kb_options = altwin:swap_lalt_lwin #caps:swapescape
    repeat_delay = 300 
    enabled = true
}
 
device {
    name = keychron-keychron-v1-max
    kb_layout = dk
    kb_options = altwin:swap_lalt_lwin #caps:swapescape
    repeat_delay = 300 
    enabled = true
}

# ╻  ┏━┓╻ ╻┏━┓╻ ╻╺┳╸┏━┓
# ┃  ┣━┫┗┳┛┃ ┃┃ ┃ ┃ ┗━┓
# ┗━╸╹ ╹ ╹ ┗━┛┗━┛ ╹ ┗━┛
# https://wiki.hyprland.org/Configuring/Master-Layout/

general {
    layout = master
}

master {
    allow_small_split = yes
    special_scale_factor = 0.95
    new_status = slave
    mfact = 0.45
    orientation = center
    inherit_fullscreen = no
    # always_center_master = no
    slave_count_for_center_master = 0
    smart_resizing = yes
}

decoration {
    blur {
        # https://wiki.hyprland.org/Configuring/Variables/#blur
        enabled = yes
        # size = 8
        # passes = 2 # default 3 -> Increasing blur:passes is necessary to prevent blur looking wrong on higher blur:size values, but remember that higher blur:passes will require more strain on the GPU.
        special = yes
        # ignore_opacity = off
    }
}


# ┏┳┓╻┏━┓┏━╸
# ┃┃┃┃┗━┓┃
# ╹ ╹╹┗━┛┗━╸
# See https://wiki.hyprland.org/Configuring/Variables/#misc

misc {
    vrr = 2
}

# RENDER
# https://wiki.hyprland.org/Configuring/Variables/#render
render {
	direct_scanout = yes
}

# Cursor
cursor {
    no_break_fs_vrr = yes
    min_refresh_rate = 120
    no_warps = yes
}

experimental {
   hdr = yes
#    wide_color_gamut = yes
}

{{ end -}}
